<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Project01</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>org.servlets.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Requests</servlet-name>
    <servlet-class>org.servlets.Requests</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Api</servlet-name>
    <servlet-class>org.servlets.Api</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Requests</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Api</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>
